@charset "UTF-8";
/* フォントの導入 -----------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
/* 変数 -----------------------------------------*/
/* スムーススクロール -----------------------------------------*/
html {
  scroll-behavior: smooth;
  scroll-padding-top: 10rem;
}

/* 全体的な設定 -----------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans JP", serif;
  font-size: 3.8461538462vw;
  font-weight: 400;
  font-style: normal;
  line-height: 1.75;
  background-color: #fff;
  color: #000;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 0.9375rem;
  }
}

span,
th,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: normal;
  line-height: 1;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
  -o-object-fit: cover;
     object-fit: cover;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

/* 共通クラス -----------------------------------------*/
.top__title--en {
  font-family: "Montserrat", serif;
  font-size: 4.1025641026vw;
  font-weight: 600;
  color: #168352;
  line-height: 1;
  text-align: center;
  margin-bottom: 1.9230769231vw;
}
@media screen and (min-width: 768px) {
  .top__title--en {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
}

.top__title--jp {
  font-size: 5.1282051282vw;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  margin-bottom: 6.4102564103vw;
}
@media screen and (min-width: 768px) {
  .top__title--jp {
    font-size: 1.75rem;
    margin-bottom: 1.5625rem;
  }
}

.sp {
  display: block;
}
@media screen and (min-width: 768px) {
  .sp {
    display: none;
  }
}

.pc {
  display: none;
}
@media screen and (min-width: 768px) {
  .pc {
    display: block;
  }
}

/* フォント -----------------------------------------*/
.montserrat-semi-bold {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.montserrat-bold {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* ヘッダーここから -----------------------------------------*/
.header {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header__container {
  height: 16.1538461538vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}
@media screen and (min-width: 768px) {
  .header__container {
    max-width: 75rem;
    height: 7.125rem;
    margin: 0 auto;
    padding: 16.5px;
  }
}

/* ロゴマーク */
.logo {
  width: 50.5128205128vw;
}
@media screen and (min-width: 768px) {
  .logo {
    width: 16.4375rem;
  }
}

/* ハンバーガーメニューの3本線ボタン */
.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.5384615385vw;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }
}

.hamburger__line {
  width: 6.1538461538vw;
  height: 2px;
  background-color: #000;
}

/* ハンバーガーメニューの設定ここから */
.header__nav-sp {
  position: absolute; /* ヘッダーの中で相対配置 */
  top: 100%; /* ヘッダーの真下 */
  left: 50%; /* 左右中央配置 */
  transform: translateX(-50%) translateY(-10px); /* 初期位置を少し上に */
  width: 91.7948717949vw;
  text-align: center;
  padding: 8.2051282051vw;
  background-color: #168352;
  border-radius: 6.4102564103vw;
  z-index: 1000;
  /* 初期状態：透明＆非表示 */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
}
@media screen and (min-width: 768px) {
  .header__nav-sp {
    display: none;
  }
}

/* ハンバーガーメニューを開いたとき */
.header__nav-sp.active {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(0); /* 元の位置にスライド */
}

/* ハンバーガーメニューの設定ここまで */
.header__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 4.6153846154vw;
  font-weight: 700;
  color: #fff;
  gap: 6.4102564103vw;
}
@media screen and (min-width: 768px) {
  .header__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 1rem;
    color: #000;
    gap: 2.5rem;
  }
}

.header__nav-pc {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__nav-pc {
    display: block;
  }
}

/* メインビジュアル -----------------------------------------*/
.main-visual {
  margin-top: 16.1538461538vw;
}
@media screen and (min-width: 768px) {
  .main-visual {
    margin-top: 7.125rem;
  }
}

.main-visual__container {
  padding: 5.1282051282vw 4.1025641026vw 14.1025641026vw;
}
@media screen and (min-width: 768px) {
  .main-visual__container {
    max-width: 75rem;
    margin: 0 auto;
    padding: 3.125rem 1.03125rem 3.875rem;
  }
}

.main-visual__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6.4102564103vw;
  align-items: flex-start;
}
@media screen and (min-width: 768px) {
  .main-visual__box {
    flex-direction: row;
    gap: 8.4375rem;
  }
}

.main-visual__title {
  font-size: 7.1794871795vw;
  font-weight: 700;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .main-visual__title {
    font-size: 2.5rem;
  }
}

.main-visual__text {
  line-break: anywhere;
}
@media screen and (min-width: 768px) {
  .main-visual__text {
    width: 32.8125rem;
    font-size: 0.9375rem;
  }
}

.main-visual__image {
  width: 100%;
  height: 115.3846153846vw;
  background-image: url(/assets/image/main_visual.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10.2564102564vw;
  margin-top: 6.6666666667vw;
}
@media screen and (min-width: 768px) {
  .main-visual__image {
    height: 34.375rem;
    margin-top: 3.4375rem;
    border-radius: 2.5rem;
  }
}

/* 私たちについて -----------------------------------------*/
.about-us__bg {
  width: 100%;
  background-image: url(/assets/image/bg_about_us.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .about-us__bg {
    background-image: none;
  }
}

.about-us__container {
  padding: 8.2051282051vw 4.1025641026vw;
}
@media screen and (min-width: 768px) {
  .about-us__container {
    max-width: 75rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0.9375rem;
    margin: 0 auto;
    padding: 0.5rem 8.125rem 3.9375rem 6.875rem;
  }
}

.about-us__text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5384615385vw;
  background-color: #fff;
  opacity: 0.8;
  border-radius: 7.6923076923vw;
  padding: 3.8461538462vw 6.4102564103vw 4.6153846154vw;
  line-break: anywhere;
}
@media screen and (min-width: 768px) {
  .about-us__text-box {
    width: 25.3125rem;
    text-align: left;
    gap: 1.5625rem;
    padding: 6.25rem 0 0;
  }
}

.about-us__text-first {
  font-size: 4.6153846154vw;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .about-us__text-first {
    font-size: 1.25rem;
  }
}

.about-us__text-second {
  line-break: anywhere;
}
@media screen and (min-width: 768px) {
  .about-us__text-second {
    font-size: 0.9375rem;
  }
}

.about-us__image {
  background-image: none;
}
@media screen and (min-width: 768px) {
  .about-us__image {
    display: block;
    width: 24.375rem;
    height: 35.625rem;
    background-image: url(/assets/image/bg_about_us.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2.5rem;
  }
}/*# sourceMappingURL=main.css.map */