@charset "UTF-8";
/* フォントの導入 -----------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
/* 変数 -----------------------------------------*/
/* スムーススクロール -----------------------------------------*/
html {
  scroll-behavior: smooth;
  scroll-padding-top: 160px;
}

/* 全体的な設定 -----------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans JP", serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.75;
  background-color: #fff;
  color: #000;
}

span,
th,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: normal;
  line-height: 1;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
  -o-object-fit: cover;
     object-fit: cover;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

/* 共通クラス -----------------------------------------*/
.top__title--en {
  font-family: "Montserrat", serif;
  font-size: 16px;
  font-size: 600;
  color: #168352;
  line-height: 1;
  margin-bottom: 1.2rem;
}
@media screen and (min-width: 768px) {
  .top__title--en {
    font-size: 16px;
    margin-bottom: 20px;
  }
}

.top__title--jp {
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
}
@media screen and (min-width: 768px) {
  .top__title--jp {
    font-size: 28px;
  }
}

/* フォント -----------------------------------------*/
.montserrat-semi-bold {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.montserrat-bold {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* ヘッダーここから -----------------------------------------*/
.header {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header__container {
  height: 63px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}
@media screen and (min-width: 768px) {
  .header__container {
    max-width: 1200px;
    height: 114px;
    margin: 0 auto;
    padding: 16.5px;
  }
}

/* ロゴマーク */
.logo {
  width: 197px;
}
@media screen and (min-width: 768px) {
  .logo {
    width: 263px;
  }
}

/* ハンバーガーメニューの3本線ボタン */
.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 6px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }
}

.hamburger__line {
  width: 24px;
  height: 2px;
  background-color: #000;
}

/* ハンバーガーメニューの設定ここから */
.header__nav-sp {
  position: absolute; /* ヘッダーの中で相対配置 */
  top: 100%; /* ヘッダーの真下 */
  left: 50%; /* 左右中央配置 */
  transform: translateX(-50%) translateY(-10px); /* 初期位置を少し上に */
  width: 358px;
  text-align: center;
  padding: 32px;
  background-color: #168352;
  border-radius: 25px;
  z-index: 1000;
  /* 初期状態：透明＆非表示 */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
}
@media screen and (min-width: 768px) {
  .header__nav-sp {
    display: none;
  }
}

/* ハンバーガーメニューを開いたとき */
.header__nav-sp.active {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(0); /* 元の位置にスライド */
}

/* ハンバーガーメニューの設定ここまで */
.header__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  gap: 25px;
}
@media screen and (min-width: 768px) {
  .header__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 16px;
    color: #000;
    gap: 40px;
  }
}

.header__nav-pc {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__nav-pc {
    display: block;
  }
}

/* 企業コンセプト -----------------------------------------*/
.concept {
  margin-top: 63px;
}
@media screen and (min-width: 768px) {
  .concept {
    margin-top: 114px;
  }
}

.concept__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  align-items: flex-start;
  padding: 20px 16px;
}
@media screen and (min-width: 768px) {
  .concept__container {
    max-width: 1200px;
    flex-direction: row;
    justify-content: space-between;
    gap: 120px;
    margin: 0 auto;
    padding: 50px;
  }
}

.concept__title {
  font-size: 28px;
  font-weight: 700;
  /*margin-bottom: vw(26);*/
}
@media screen and (min-width: 768px) {
  .concept__title {
    font-size: 40px;
    /*margin-bottom: px2Rem(15);*/
  }
}

.concept__text {
  line-break: anywhere;
}
@media screen and (min-width: 768px) {
  .concept__text {
    width: 525px;
  }
}/*# sourceMappingURL=main.css.map */