@charset "UTF-8";

/* フォントの導入 -----------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

//-----------------------------------------------------
// scss: 変数設定
//-----------------------------------------------------

// カンプ / コンテンツ幅の指定
$sp-full-width: 390; // スマホ用のカンプ幅
$pc-full-width: 1400; // PC用のカンプ幅
$pc-content-width: 1200; // PC用のカンプのコンテンツ幅(ガイド線の幅)

// ブレークポイント設定
// スマホ:
//    0px ~ 768px未満 -> スマホ用のカンプをベースにvwで実装
// タブレット:
//    768px ~ PCコンテンツ幅未満 -> PC用のカンプをベースにvwで実装。予算の多い案件ではタブレット用のカンプが提供される場合もある。
// PC:
//    PCコンテンツ幅以上 -> PC用のカンプをベースにpx(rem)で実装
$breakpoint-md: 768;
$breakpoint-lg: $pc-content-width;

// 本番用か否か？本番用の場合は1にする。
// 0の場合はpxで出力される。パーフェクトピクセルで合わせる時に便利。
$production: 0;

//-----------------------------------------------------
//  scss: ブレークポイント関数
//-----------------------------------------------------

$breakpoints: (
    "md": "screen and (min-width: #{$breakpoint-md}px)",
    "lg": "screen and (min-width: #{$breakpoint-lg}px)",
) !default;

@mixin mq($breakpoint: md) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

//-----------------------------------------------------
//  scss: 変換関数群
//-----------------------------------------------------

// SP用: vwへの変換
@function vw($px) {
    @if $production !=1 {
        @return $px * 1px;
    }

    @return calc($px * 100vw / $sp-full-width);
}

// タブレット用: vwへの変換
@function vwt($px) {
    @if $production !=1 {
        @return $px * 1px;
    }

    @return calc($px * 100vw / $pc-content-width);
}

// PC用: pxをremに変換
@function px2Rem($px) {
    @if $production !=1 {
        @return $px * 1px;
    }

    @return calc($px / 16) * 1rem;
}

// PC用: pxをvwに変換
// ヘッダーなどコンテンツ幅ベースではなくかんぷ幅ベースでvwを使いたい場合に使用。
// あまり使わない。
@function vwp($px) {
    @if $production !=1 {
        @return $px * 1px;
    }

    @return calc($px * 100vw / $pc-full-width);
}

/* 変数 -----------------------------------------*/
$main-green: #168352;
$pad-pc-small: 16.5px;
$pad-pc-large: 50px;
$pad-sp: 16px;

/* スムーススクロール -----------------------------------------*/
html {
    scroll-behavior: smooth;
    scroll-padding-top: px2Rem(160);
}

/* 全体的な設定 -----------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans JP", serif;
    font-size: vw(15);
    font-weight: 400;
    font-style: normal;
    line-height: 1.75;
    background-color: #fff;
    color: #000;
}

span,
th,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: normal;
    line-height: 1;
}

img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
    object-fit: cover;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: block;
}

/* 共通クラス -----------------------------------------*/
.top__title--en {
    font-family: "Montserrat", serif;
    font-size: vw(16);
    font-size: 600;
    color: $main-green;
    line-height: 1;
    margin-bottom: 1.2rem;

    @include mq(md) {
        font-size: px2Rem(16);
        margin-bottom: px2Rem(20);
    }
}

.top__title--jp {
    font-size: vw(20);
    font-weight: 700;
    line-height: 1;

    @include mq(md) {
        font-size: px2Rem(28);
    }
}

/* フォント -----------------------------------------*/
.montserrat-semi-bold {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.montserrat-bold {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

/* ヘッダーここから -----------------------------------------*/
.header {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header__container {
    height: vw(63);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 $pad-sp;

    @include mq(md) {
        max-width: px2Rem(1200);
        height: px2Rem(114);
        margin: 0 auto;
        padding: $pad-pc-small;
    }
}

/* ロゴマーク */
.logo {
    width: vw(197);

    @include mq(md) {
        width: px2Rem(263);
    }
}

/* ハンバーガーメニューの3本線ボタン */
.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: vw(6);
    cursor: pointer;

    @include mq(md) {
        display: none;
    }
}

.hamburger__line {
    width: vw(24);
    height: 2px;
    background-color: #000;
}

/* ハンバーガーメニューの設定ここから */
.header__nav-sp {
    position: absolute; /* ヘッダーの中で相対配置 */
    top: 100%; /* ヘッダーの真下 */
    left: 50%; /* 左右中央配置 */
    transform: translateX(-50%) translateY(-10px); /* 初期位置を少し上に */
    width: vw(358);
    text-align: center;
    padding: vw(32);
    background-color: $main-green;
    border-radius: vw(25);
    z-index: 1000;

    /* 初期状態：透明＆非表示 */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;

    @include mq(md) {
        display: none;
    }
}

/* ハンバーガーメニューを開いたとき */
.header__nav-sp.active {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0); /* 元の位置にスライド */
}

/* ハンバーガーメニューの設定ここまで */

.header__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: vw(18);
    font-weight: 700;
    color: #fff;
    gap: vw(25);

    @include mq(md) {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        font-size: px2Rem(16);
        color: #000;
        gap: px2Rem(40);
    }
}

.header__nav-pc {
    display: none;

    @include mq(md) {
        display: block;
    }
}

/* 企業コンセプト -----------------------------------------*/
.concept {
    margin-top: vw(63);

    @include mq(md) {
        margin-top: px2Rem(114);
    }
}

.concept__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: vw(25);
    align-items: flex-start;
    padding: vw(20) vw(16);

    @include mq(md) {
        max-width: px2Rem(1200);
        flex-direction: row;
        justify-content: space-between;
        gap: px2Rem(120);
        margin: 0 auto;
        padding: px2Rem(50);
    }
}

.concept__title {
    font-size: vw(28);
    font-weight: 700;
    /*margin-bottom: vw(26);*/

    @include mq(md) {
        font-size: px2Rem(40);
        /*margin-bottom: px2Rem(15);*/
    }
}

.concept__text {
    line-break: anywhere;

    @include mq(md) {
        width: px2Rem(525);
    }
}


